<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On
    
# Stop process si déjà dans /public
RewriteRule ^public/ - [L]

# Ressources statiques
RewriteCond %{DOCUMENT_ROOT}/public/$1 -f
RewriteRule (.+) public/$1 [L]

# Réécriture route
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]

</IfModule>